* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Khoi Phuc Co Chu Mac Dinh */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  min-width: 186px;
  max-width: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  opacity: 0.9;
}
.headding-lv2,
.headding-lv2 a {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700px;
  line-height: 1.33;
}
.hearder {
  background: #fff;
}
.hearder .fix {
  z-index: 1;
  position: sticky;
  align-items: center;
}
.hearder .body {
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}
.Nar-bar {
  margin-left: auto;
}
.Nar-bar ul {
  display: flex;
}
.Nar-bar a {
  color: #2f3a3b;
  padding: 8px 19.5px;
}
.Sign .action-link:hover,
.Nar-bar a:hover {
  color: #0d1111;
  text-shadow: 1 0 0 currentColor;
  font-weight: 600;
}
.Sign .action-link {
  margin-left: 157px;
  color: #2f3a3b;
  text-align: center;
}
.Sign .action-btn {
  margin-left: 24px;
  display: inline-block;
  padding: 0 16px;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border-radius: 14px;
  border: 1px solid #1ebfc1;
}
.hero {
  margin-top: 50px;
}
.content-header {
  display: flex;
}
.content-block {
  width: 458px;
  height: 445px;
  margin-top: 93px;
  text-align: left;
  margin-right: 71px;
}
.top-title {
  font-size: 14px;
  line-height: 26px;
}
.title {
  font-weight: 600;
  font-size: 62px;
  line-height: 72px;
  margin-bottom: 46px;
}
.desc {
  width: 376px;
  margin-bottom: 52px;
}
.desc-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #d9d9d9;
}
.content__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-button {
  width: 186px;
  height: 68px;
  margin-right: 50px;
}
.WatchVideo {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: none;
}
.WatchVideo:hover {
  background-color: red;
  transform: scale(1.2);
}
.content__Card {
  margin-left: auto;
  width: 641px;
  height: 631px;
  position: relative;
}
.content-Card__img {
  width: 576px;
  height: 631px;
  margin-left: 65px;
  object-fit: cover;
}
.content-card__Card-list {
  width: 157px;
  height: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 576px;
  bottom: 407px;
  border-radius: 12.5%;
  background-color: #fff;
}
.content-card__Card-list span {
  font-size: 10px;
  text-align: center;
}
